<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="../../app/assets/stylesheets/" href="reset.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>  <h1>Music App</h1>  </header>
  <body>

  <% navigation_menu = nav_menu%>


  <%=on_page%>
  
  <% if logged_in? %>
  <h2> Welcome to our Music App, <%= current_user.email %> </h2>
  <% end %>

  <div class="header_div">
    <nav class="button_navigation">
      <br />
      <%navigation_menu.each do |link_button|%>
      <%=link_button%> <br/>
      <% end %>
      <br/>
    </nav> 
  </div>
  
    <div class="render_page">
    <%= yield %>
    </div>
    <br>
    <div class="errors">
    <% if flash[:error] %> 
	    <% flash[:error].each do | error| %>
	    <%= error %> <br>
      <% end %>
    <% end %>
    </div>
  </body>
</html>
