<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>



  <% unless current_user.nil? %>
    <h2>Welcome, <%=current_user.username %>!</h2>

	<form action="<%=session_url%>" method="POST">
		<input type="hidden" name = "_method" value="DELETE">
		<input type="submit" value="LOG OUT">
	</form>
  <% else %>
    <a href="<%=new_session_url%>">
      <input type="button" value="LOG IN">
    </a>
  <% end %>

    <%= yield %>
  </body>
</html>
