<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Welcome, <%= @current_user.username %></h1>

    <% if @current_user.nil? %>
      <% _action_value = session_url %>
      <% _submit_value = "login" %>
    <% else %>
      <% _action_value = new_user_url %>
      <% _submit_value = "sign up" %>
    <% end %>
    <form action="<%=_action_value%>" method="POST">


      <input type="submit">


    </form>
    <% end %>

    <%= yield %>
  </body>
</html>
