
<h1> Discography </h1>
<table>
  <tr>
    <th>band</th>
    <th>title</th>
    <th>year</th>
    <th>live</th>
  </tr>
  <% albums.each do |album|%>
  <tr>
    <td><a href="<%=band_url(album.band)%>"><%= album.band.name %></a></td>
    <td><a href="<%=album_url(album)%>"><%= album.title %></a></td>
    <td><%= album.year %></td>
    <td><%= album.live %></td>
  </tr>
  <% end %>

